.myControl {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
}

.myControl[data-active] {
  border-color: #1890ff !important;
  color: #1890ff;
  background-color: #ffffff;
  border-radius: 8px;
}

.myControl[data-active]:hover {
  background-color: #ffffff;
}
